body {
    text-align: center !important;
    background-color: rgb(141, 13, 173) !important;
    color: aliceblue !important;
  }
  
  .container {
    border: 2px solid rgb(128, 128, 128) !important;
    border-radius: 10px !important;
    height: 400px !important;
    width: 400px !important;
    display: grid !important;
    padding: 10px;
  }
  button {
    background-color:gray !important;
    height: 50px;
    width: 70px;
    gap: 10px !important;
    row-gap: 10px !important;
    border: 2px solid rgb(4, 55, 78) !important;
    border-radius: 10px !important;
  }
